bin/
obj/

*.user
*.rsuser
*.suo

.idea/
*.sln.iml

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

TestResults/
*.trx

*.log

.DS_Store
Thumbs.db

*.nupkg
packages/
!**/packages/build/
!**/packages/repositories.config

.selenium/