bin/
obj/

*.user
*.rsuser
*.suo

.idea/
*.sln.iml

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

TestResults/
*.trx

*.log
!Ehu.UiTests/allure-report-artifacts/
!Ehu.UiTests/allure-report-artifacts/logs/
!Ehu.UiTests/allure-report-artifacts/logs/ui-tests-20260426.log

!Ehu.ApiTests/allure-report-artifacts/
!Ehu.ApiTests/allure-report-artifacts/logs/
!Ehu.ApiTests/allure-report-artifacts/logs/api-tests-20260509.log

.DS_Store
Thumbs.db

*.nupkg
packages/
!**/packages/build/
!**/packages/repositories.config

.selenium/

Ehu.ApiTests/appsettings.json